.form-group{
	margin-top: 8px;
	margin-bottom: -15px;
}

.link{
	margin-bottom: 10px;
	display: flex;
	width: 100%;
	
}

.link a{
	margin-left: 10px;
	font-size: 14pt;
	width: 110px;
}

.info-box{
	width: 30px;
	height: 30px;
	margin-right: -15px;
}

.info{
	display: flex;
	margin-bottom: 5px;
}

.pesquisa{
	margin-left: 305px;
	margin-top: -15px;
	margin-right: -25px;
	margin-bottom: -20px;
}

.pesquisa2{
	margin-left: 5px;
}

.form-pesquisa{
	display: flex;
	flex-direction: row;
}

.group-pesquisa{
	display: flex;
	flex-direction: row;
}

button{
	margin-left: 5px;
}

.another{
	margin-left: 5px;
}
